<div class = "form">
    <h1> REGISTER NOW TO SIGN</h1>
  <form method ='post' class = 'form' autocomplete="off">
    <input id = "_csrf" type="hidden" name="_csrf" value="{{csrfToken}}">
    <input id="firstname" type ='text' name = 'firstname' placeholder = "Enter first name" >
    <input id="lastname" type ='text' name = 'lastname' placeholder = "Enter last name" >
    <input id="email" type ='text' name = 'email' placeholder = "Enter your email" >
    <input id="password" type ='password' name = 'password' placeholder = "Enter your password" >
    <button type="submit"> SUBMIT </button>
  </form>
   <a href='/login'>If you're already a member, please login</a>
</div>
