

    <form method ='post' class = 'form'>
      <input id = "_csrf" type="hidden" name="_csrf" value="{{csrfToken}}">
      <canvas id="signature" width="500" height="200" ></canvas>
      <button type="submit"> SUBMIT </button>
    </form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src = '/script.js' charset='utf-8'></script>
