

<div class = "form">
  <form method ='post' class = 'form' autocomplete="off">
    <input id = "_csrf" type="hidden" name="_csrf" value="{{csrfToken}}">
    <input id="age" type ='number' name = 'age' min= "16" max= "99" placeholder = "Enter your age"  >
    <input id="city" type ='text' name = 'city' placeholder = "Enter your city" >
    <input id="url" type ='text' name = 'url' placeholder = "Enter your website"  >
    <button type="submit"> SUBMIT </button>
  </form>
</div>
