<div class= "nav-wrapper">
{{>nav-menu}}
</div>

<div class="home">
    <div class = "overlay">
        <h1> FOR A COOLER SUMMER AT SPICED </h1>
        <h3> Find it hard to work when you're sweating like a pig? </h3>
        <h3 class = 'subtitle'> Sign now and help us get A/Cs for our rooms </h3>
        <a href='/register'> SIGN NOW </a>
    </div>
</div>
